*{
    margin: 0;
    padding: 0;
}
body{
	font-family: sans-serif;
	background-image:url("../images/booking7.jpg");
	
}
input{
	font-size: 20px;
}
.head{
	padding: 15px;
	margin: 20px;
	font-family: sans-serif;
}

label{
	font-size: 20px;
	font-weight: bold;
}
div.book{
	background-color: white;
	height: 675px;
	width: 45%;
	position: relative;
	left: 50%;
}
.p{
	text-align: left;
	padding-left: 100px;
	padding-right: 50px;
}